.PopUpBox {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
}

.Box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(120vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

a {
  color: #008dc8;
}

.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  margin-top: 8px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.7);
  align-self: center;
}

.Button:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #008dc8;
}

.CloseIcon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(120vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
