@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.Jumbotron {
  background-color: white;
  margin-top: 30px;
  padding-top: 80px;
  margin-bottom: 0px;
}

.Heading {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-top: 30px;
}

.SubHeading {
  color: #bd6997;
  font-size: 1.5rem;
}

.TagLine {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}

.Rectangle {
  height: 5px;
  width: 250px;
  background-color: #008dc8;
  margin-bottom: 20px;
}

.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
  margin-right: 10%;
  position: relative;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.Button:hover {
  padding-right: 35px;
  padding-left: 35px;
}

.Button:focus {
  outline: none;
}

.BannerImage {
  margin-top: -10%;
  height: 600px;
  width: 700px;
}

@media (min-width: 250px) and (max-width: 344px) {
  .TagLine {
    margin-top: 80%;
  }

  .rightCol {
    margin-top: -245%;
  }
}

@media (min-width: 345px) and (max-width: 370px) {
  .TagLine {
    margin-top: 100%;
  }

  .rightCol {
    margin-top: -200%;
  }
}

@media (min-width: 370px) and (max-width: 390px) {
  .Heading {
    margin-top: 0px;
  }

  .TagLine {
    margin-top: 100%;
  }

  .rightCol {
    margin-top: -190%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 391px) and (max-width: 425px) {
  .Heading {
    margin-top: 0px;
  }

  .TagLine {
    margin-top: 80%;
  }

  .rightCol {
    margin-top: -160%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 427px) and (max-width: 455px) {
  .Heading {
    margin-top: 0px;
  }

  .TagLine {
    margin-top: 80%;
  }

  .rightCol {
    margin-top: -150%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 455px) and (max-width: 495px) {
  .Heading {
    margin-top: 0px;
  }

  .TagLine {
    margin-top: 80%;
  }

  .rightCol {
    margin-top: -150%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 495px) and (max-width: 520px) {
  .Heading {
    margin-top: 0px;
  }

  .TagLine {
    margin-top: 80%;
  }

  .rightCol {
    margin-top: -135%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 521px) and (max-width: 767px) {
  .Heading {
    margin-top: 0px;
  }

  .TagLine {
    margin-top: 80%;
  }

  .rightCol {
    margin-top: -125%;
    margin-bottom: 20%;
    height: 300px;
    width: 600px;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .Button {
    float: left;
    margin-top: 20px;
  }
}
